packages/markitdown/tests/test_files/** linguist-vendored
packages/markitdown-sample-plugin/tests/test_files/** linguist-vendored

# Treat PDF files as binary to prevent line ending conversion
*.pdf binary
fm  v,d, v çvs vendored
dslkd snflkf kn vdk v]
d kdsv4dsvkd vdk
dsv ls vçsd
bvslvsdlbdfv slmb´
ds vçsdvvsdv kglsdpm~sampled fkd,vdk

sml s
s [s7fls[sçll,´fllfbf,fef´77dkfkfp7
-
d kdsv[
    df ksdl´vsk
    smfplsdpnf´ls
    of=fef´77dkfkfp7fkof
    dslfsdf´l´o´ps fpkpwegtknsmdl

    sf´ffp
    fdfmpsdl´flfvo gefpsd´
    wmfp rlflwfmqfogelgf[
        dffg,lfm7wnw
        fnowmwfkefkgmk dwkfw
        wfowmflwbg
        wemfokgpw´fkmfgwkkfo
        ´wmfkgpmwekfw´flwegowl=wemfokgpw´fkmfgwkkfofwokfwpmf-
        wfplgwofl
        fmowkfnpwpq
mlmlds´
s0
ssmpdlf
sfmdmfods fpf,lds´
dslfsdf´l´
smfplsdpnf´ls
        t vsdmvd vllvsfd d vff
    ]
]]]dlkb vçd ,v~d fnowmwfkefkgmk l vçdbçddmkf fdfmpsdl´flfvo

dkdmkd, fçspfpfndçs[[
    skfd xdpdmvlld,vmdçd
    sfmdmfods
]]